/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-wrapper {
  max-width: 1400px;
  padding: 30px 20px;
  margin: 0 auto;
  position: relative;
}

.ta-center {
  text-align: center;
}

.d-flex {
  display: flex;
  &.justify-content-sb {
    justify-content: space-between;
  }
  &.f-wrap-wrap {
    flex-wrap: wrap;
  }
}

.page-title {
  text-align: center;
  margin-bottom: 60px !important;
}

.bold {
  font-weight: 700;
}

.fs-18 {
  font-size: 18px;
}

.fw-700 {
  font-weight: 700;
}

.mt-60 {
  margin-top: 60px;
}
